

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #fff;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.arrow {
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    z-index: 1;
    width: 11rem;
    gap: 4px;
    margin-top: .8rem;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

/* .dropdown-content a:hover {
    background-color: #F2F2F2;
    border-radius: 15px;
}
 */

.pvisual{
    padding: 10px 10px;
}

.pvisual:hover{
    background-color: #F2F2F2;
    border-radius: 8px;

}


